@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6C9CEE;
  --secondary-color: #7076EE;
  --light-color: #FFFFFF;
  --dark-color: #070714;
}

html, body, div {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


