.container{
    display: flex;
}

.section__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--light-color);
    height: 100vh;
}

.section__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: linear-gradient(var(--primary-color), var(--secondary-color));  
  height: 100vh;
}

.text_box {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.header {
    align-self: flex-start;
    justify-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 31.25px;
    font-weight: bold;
}

.sub_header {
    font-size: 16px;
    margin-left: 2px;
}

.form__group {
  position: relative;
  margin-bottom: 42px;
  border-bottom: 1px solid var(--dark-color);
  transition: border-bottom 0.4s ease-in-out;
}



.form__group input {
  width: 346px;
  padding: 0 2px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  transition: color 0.4s;
}


.form__group label {
  position: absolute;
  top: 50%;
  left: 2px;
  color: rgba(0, 0, 0, 0.76);
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .2s;
}


.form__group input:focus + label,
.form__group input:valid + label {
  font-size: 12.8px;
  top: -6px;
}

.form__group:hover{
  border-bottom: 1px solid var(--secondary-color);
}


.form__buttons{
  display: flex;
  flex-direction: column;
  gap:15px;
}

.form__buttons button {
  width: 346px;
  height: 44px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.button__signin {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
}

.button__google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--light-color);
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.login__link {
  margin-top: 20px;
  text-align: center;
  font-size: 12.8px;
}

.login__link a {
  font-weight: bold;
}
